SHELL=/bin/bash

{% if site == "upps" %}

@reboot source $HOME/.bash_profile && supervisord -c {{ supervisord_conf }}
# restart supervisord if it has died for some reason
11 * * * *      bash {{ ngi_resources }}/start_supervisord_{{ site }}.sh &> /dev/null

# Check disk usage every Monday
0 7 * * 1  echo "Disk usage Miarka:" && /vulpes/ngi/production/latest/sw/standalone_scripts/du_miarka.py /proj/ngi2016001

{% endif %}

# updates charon with locally stored run info for sarek
5 * * * * source $HOME/.bash_profile &> /dev/null && update_charon_with_local_jobs_status.py -e sarek &> /dev/null

# meta crontab: load itself all the time so we do not have to manually load the rules when updated 
10 * * * * /usr/bin/crontab {{ ngi_pipeline_conf }}/crontab_{{ site }}

{% if site == "sthlm" %}

# transfer latest tools versions to NGI website
5 0 * * * rsync -e "ssh" {{ ngi_resources }}deployed_tools.*.version ngi-external:/var/www/html/ngisweden-dev.scilifelab.se/wp-content/themes/ngisweden/cache/

{% endif %}
