SHELL=/bin/bash
@reboot source $HOME/.bash_profile && supervisord -c {{ ngi_pipeline_conf }}/supervisord_upps.conf

# restart supervisord if it has died for some reason
11 * * * *      bash {{ ngi_resources }}/start_supervisord_upps.sh &> /dev/null

# updates charon with locally stored run info for sarek
5 * * * * source $HOME/.bashrc &> /dev/null && update_charon_with_local_jobs_status.py -e sarek &> /dev/null

# meta crontab: load itself from the latest location all the time so we do not have to manually load the rules when updated
10 * * * * /usr/bin/crontab {{ ngi_pipeline_conf | regex_replace('^(.*)/[^/]+(/conf)/?$', '\\1/latest\\2') }}/crontab_upps
