/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

plugins {
    id 'nf-schema@{{ nf_schema_version }}'
}

process {

    withName: BCL2FASTQ {
        time = '32h'
        cpus = 24
        memory = '147G'
        ext.args = {[
            params.ext_args ? "${params.ext_args}" : "",
        ].join(" ").trim()}
        publishDir = [
            [
                path: { "${params.outdir}/Unaligned/" },
                pattern: "output/**_S[1-9]*_*.fastq.gz",
                mode: "link",
                saveAs: { filename -> filename.minus("output/") }
            ],
            [
                path: { "${params.outdir}/Unaligned/" },
                pattern: "output/**Undetermined_S0_*.fastq.gz",
                mode: "link",
                saveAs: { filename -> filename.minus("output/") }
            ],
            [
                // Gather and write Reports and Stats
                path: { "${params.outdir}/Unaligned/" },
                mode: "link",
                pattern: "output/{Stats,Reports}",
                saveAs: {filename -> filename.split("/")[-1] }
            ],
            [
                // Gather and write InterOp files
                path: { "${params.outdir}" },
                mode: "link",
                pattern: "**.bin",
            ],
        ]
    }
}
