# Default configuration file for delivery service

---

db_connection_string: 'sqlite:///{{ db_path }}'
runfolder_directory: {{ runfolder_path }}
general_project_directory: {{ project_path }}
staging_directory: {{ staging_path }}
port: {{ arteria_delivery_port }}
alembic_path: {{ alembic_path }}
path_to_mover: {{ mover_path }}
project_links_directory: {{ delivery_links }}
