#! /bin/bash -l

################################################################################
##
## This is a bash script for applying pre-computed recalibration statistics
## on a BAM file and generate a Base Quality Score Recalibrated (BQSR) BAM file.
## This is done with the PrintReads program of GATK.
##
## To use the script, pass the BAM file as the first argument to the script,
## the recalibration statistics file (output from GATK's BaseRecalibrator) as
## the second argument and (optionally) the fasta reference as the third argument. 
## If no fasta reference is supplied, hg38 will be used. The output BAM file name 
## is created by stripping the .bam file extension and replacing it with .recal.bam.
##
## Example:
##   bash applyRecalibration.sh /path/to/bamfile.bam /path/to/recalibration.table
##
## To submit the script as a job to a SLURM cluster, just submit with the
## UPPNEX id of your project, e.g.:
##   sbatch -A b2015999 apply_recalibration.sh /path/to/bamfile.bam \
##     /path/to/recalibration.table /path/to/ref.fasta
##
################################################################################

#SBATCH -p core
#SBATCH -n 2
#SBATCH -N 1
#SBATCH -J apply_recalibration
#SBATCH -t 48:00:00
#SBATCH -o apply_recalibration.%j.log
#SBATCH -e apply_recalibration.%j.log

# exit on error
set -e
set -o pipefail

# inputs
BAMIN="${1}"
RECALTABLE="${2}"
FASTAREF="${3}"

# If FASTAREF not supplied use hg38 as default
if [ -z $FASTAREF ]
then
  FASTAREF="/sw/data/uppnex/ToolBox/hg38bundle/Homo_sapiens_assembly38.fasta"
fi

# if running on a compute node, use the scratch area for output, otherwise write
# directly to the output directory
if [ -z "$SLURM_JOB_ID" ]
then
  SNIC_TMP="`dirname ${BAMIN}`"
fi

BAMOUT="$SNIC_TMP/`basename ${BAMIN/.bam/.recal.bam}`"
CONTAINER="/sw/data/ToolBox/nf-core/nfcore-sarek-{{ sarek_tag }}.img"
GATKCMD="gatk --java-options -Xmx14g ApplyBQSR -R $FASTAREF --input $BAMIN --output $BAMOUT --bqsr-recal-file $RECALTABLE"

singularity exec $CONTAINER $GATKCMD

# copy results back from compute node
if [ ! -z "$SLURM_JOB_ID" ]
then
  cp "${BAMOUT}" "`dirname ${BAMIN}`"
fi

