#! /bin/bash -l

export PATH={{ sw_path }}/nextflow:$PATH

{{ arteria_service_env_root }}/bin/sequencing-report-service --configroot={{ arteria_service_config_root }} --port={{ seqreport_service_port }}
