# Default configuration file for the sequencing report service
---

port: {{ seqreport_service_port }}
db_connection_string: sqlite:///{{ db_path }}/sequencing_reports.db
reports_dir: "{runfolder_path}/seqreports/"
monitored_directories:
    - {{ static_runfolder_path }}
alembic_scripts: {{ arteria_service_src_path }}/alembic/
alembic_log_config_path: {{ arteria_service_config_root}}/logger.config
nextflow_log_dirs: {{ arteria_service_log_dir }}/nxf_logs
pipeline_config_dir: {{ arteria_service_pipeline_config_dir }}
