# DELIVERY OF RESULTS FROM WGS ANALYSIS WITH SAREK

## Analysis
Samples were analysed with the Sarek pipeline release {{ release }}. 

The workflow processes raw data from FastQ inputs, aligns the reads, mark duplicates and performs base recalibration.
SNVs and small indels are called with GATK HaplotypeCaller and DeepVariant. SnpEff annotated calls are reported in 
separate vcf files for each caller as well as concatenated vcf files with the combined result.

For information regarding the pipeline, folder structure and how to interpret results, please refer to the Sarek documentation:
[https://nf-co.re/sarek/{{ release }}](https://nf-co.re/sarek/{{ release }})

Detailed information about standard outputs from the pipeline can be found [here](https://nf-co.re/sarek/{{ release }}/output).

The directory also contains the file checksums.md5, which should be used to verify the integrity of the files after transfer.


## Delivery structure

```
├── checksums.md5
├── DELIVERY.README.SAREK.md
└── results
    ├── annotation
    │   ├── deepvariant
    │   └── haplotypecaller
    ├── csv
    ├── multiqc
    ├── pipeline_info
    ├── preprocessing
    │   ├── recalibrated
    │   └── recal_table
    ├── reference
    │   └── intervals
    ├── reports
    │   └── bcftools
    │   ├── fastp
    │   ├── fastqc
    │   ├── markduplicates
    │   ├── mosdepth
    │   ├── samtools
    │   ├── snpeff
    │   └── vcftools
    └── variant_calling
        ├── deepvariant
        └── haplotypecaller
```


## Known issues


## Additional information 
- Note that samples that are sequenced on more than one flowcell/lane will be suffixed accordingly for some modules in the MultiQC report.
A sample that has been sequenced twice will for some metrics be presented as a joint vaule for <sample name>, and with one value per run, i.e. <sample name>_1 and <sample_name>_2.
- Output from GATK MarkDuplicates have been removed from the results folder.
Duplicate marked cram files can be requested up to 60 days after delivery.

