# DELIVERY OF RESULTS FROM EXOME ANALYSIS WITH SAREK

## Analysis
Samples were analysed with the Sarek pipeline release {{ release }}. 

The workflow processes raw data from FastQ inputs, aligns the reads, mark duplicates and performs base recalibration.
SNVs and small indels are called with GATK HaplotypeCaller and DeepVariant. SnpEff annotated calls are reported in 
separate vcf files for each caller as well as concatenated vcf files with the combined result.
In addition to Sarek pipeline analysis, target region coverage was evaluated with Picard CollectHsMetrics.

For information regarding the pipeline, folder structure and how to interpret results, please refer to the Sarek documentation:
[https://nf-co.re/sarek/{{ release }}](https://nf-co.re/sarek/{{ release }})

Detailed information about standard outputs from the pipeline can be found [here](https://nf-co.re/sarek/{{ release }}/output).

The directory also contains the file checksums.md5, which should be used to verify the integrity of the files after transfer.


## Delivery structure

```
├── checksums.md5
├── DELIVERY.README.SAREK.WES.md
└── results
    ├── annotation
    │   ├── deepvariant
    │   └── haplotypecaller
    ├── csv
    ├── multiqc
    ├── pipeline_info
    ├── preprocessing
    │   ├── fastp
    │   ├── recalibrated
    │   └── recal_table
    ├── reference
    │   └── intervals
    ├── reports
    │   ├── bcftools
    │   ├── fastp
    │   ├── fastqc
    │   ├── HsMetrics
    │   ├── markduplicates
    │   ├── mosdepth
    │   ├── samtools
    │   ├── snpeff
    │   └── vcftools
    └── variant_calling
        ├── deepvariant
        └── haplotypecaller

```


## Known issues
- Twist bait intervals are not publicly available and therefore, when running CollectHsMetrics (Picard), the target intervals are used to specify both target and bait. 
This will lead to some incorrect entries in the HsMetrics table in the MultiQC-report, i.e. entries regarding baits should be neglected.


## Additional information 
- The original target file used for the analysis can be found [here](https://www.twistbioscience.com/resources/data-files/comprehensive-exome-bed-files)
Note that each region in this file was padded with 100 bp upstream and downstream before submitting it to the pipeline (available in results/reference/intervals). 
- Note that samples that are sequenced on more than one flowcell/lane will be suffixed accordingly for some modules in the MultiQC report.
A sample that has been sequenced twice will for some metrics be presented as a joint vaule for <sample name>, and with one value per run, i.e. <sample name>_1 and <sample_name>_2.
- Output from GATK MarkDuplicates have been removed from the results folder.
Duplicate marked cram files can be requested up to 60 days after delivery.

