# DELIVERY OF RESULTS FROM MEHTYLSEQ ANALYSIS WITH NF-CORE METHYLSEQ

## Analysis
Samples were analysed with the nf-core methylseq pipeline release {{ release }}. In short:

[nf-core/methylseq](https://nf-co.re/methylseq/{{ release }}) is a bioinformatics analysis pipeline used for Methylation (Bisulfite) sequencing data. It pre-processes raw data from FastQ inputs, aligns the reads and performs extensive quality-control on the results.

For information regarding the pipeline, folder structure and how to interpret results, please refer to the pipeline documentation:
[https://nf-co.re/methylseq/{{ release }}](https://nf-co.re/methylseq/{{ release }})

Detailed information about standard outputs from the pipeline can be found [here](https://nf-co.re/methylseq/{{ release }}/output)

The directory also contains the file checksums.md5 and you should always use it to verify the integrity of the files after transfer.

## Delivery structure:

```

├── checksums.md5
├── DELIVERY.README.METHYLSEQ.md
└── results
    ├── bismark
    │   ├── alignments
    │   ├── deduplicated
    │   ├── methylation_calls
    │   ├── preseq
    │   ├── reports
    │   └── summary
    ├── cat
    ├── fastqc
    ├── multiqc
    ├── pipeline_info
    ├── qualimap.tar.gz
    └── trimgalore
```