
singularity.libraryDir = '{{ nf_core_vars.NXF_SINGULARITY_LIBRARYDIR }}'
singularity.cacheDir = '{{ nf_core_vars.NXF_SINGULARITY_CACHEDIR }}'

params.seq_center = "SciLifeLab National Genomics Infrastructure {{ site_full | capitalize }}"
params.igenomes_base = '{{ reference_data_dir }}/igenomes'

{% if pipeline == 'methylseq' or pipeline == 'ampliseq' %}
process {

  {% if pipeline == 'methylseq' %}

  memory = { 15.GB * task.attempt }
  time = { 6.h * task.attempt }

  withName:qualimap {
        cpus = { 4 * task.attempt }
        memory = { 62.GB * task.attempt }
        time = { 2.d * task.attempt }
  }

}

  {% elif pipeline == 'ampliseq' %}

  withName:QIIME2_CLASSIFY {
        cpus = 20
        memory = 120.GB
        time = 36.h
  }

}

params.reference_database = '{{ ngi_containers }}/{{ pipeline }}/{{ silva_zip }}'

  {% endif %}

{% elif pipeline == 'rnaseq' %}

params.reverseStranded = true

{% endif %}


{% if pipeline=='ampliseq' %}

params.reference_database = '{{ ngi_containers }}/{{ pipeline }}/{{ silva_zip }}'

{% endif %}

{$ if pipeline=='sarek' %}

params {
    igenomes_ignore = true
}

{% endif %}

## Common parameters to override nf-core uppmax profile parameters
params {
    seq_center = "SciLifeLab National Genomics Infrastructure {{ site_full | capitalize }}"
    max_memory = 357.GB
    max_cpus = 48
    max_time = 480.h
}
