
singularity.libraryDir = '{{ nf_core_vars.NXF_SINGULARITY_LIBRARYDIR }}'
singularity.cacheDir = '{{ nf_core_vars.NXF_SINGULARITY_CACHEDIR }}'

/* this is commented out by default in order to not override the default uppmax path
   if necessary to use the custom location, uncomment this parameter */
//igenomes_base = '{{ igenomes_dir }}/references'

{% if pipeline == 'methylseq' %}

process {


  memory = { 15.GB * task.attempt }
  time = { 6.h * task.attempt }

  withName:qualimap {
        cpus = { 4 * task.attempt }
        memory = { 62.GB * task.attempt }
        time = { 2.d * task.attempt }
  }

}

{% elif pipeline == 'ampliseq' %}

params.reference_database = '{{ ngi_containers }}/{{ pipeline }}/{{ silva_zip }}'

process {

  withName:QIIME2_CLASSIFY {
        cpus = 20
        memory = 120.GB
        time = 36.h
  }

}


{% elif pipeline == 'sarek' %}

process {

  withName:MapReads {
    cpus = { params.max_cpus }
    memory = { params.max_memory }
  }

}

process {

  withName:FASTQC {
    cpus = 4
    memory = 28.GB
  }

}

{% endif %}


plugins {

{% for plugin in nextflow_plugins %}
  id '{{ plugin.name }}@{{ plugin.version }}'
{% endfor %}

}
