_format_version: "2.1"
_transform: true

services:
  - name: arteria_checksum
    host: localhost
    port: {{ arteria_checksum_port }}
    routes:
    - paths:
      - /arteria_checksum
      strip_path: true

  - name: arteria_delivery
    host: localhost
    port: {{ arteria_delivery_port }}
    connect_timeout: 600000
    read_timeout: 600000
    write_timeout: 600000
    routes:
    - paths:
      - /arteria_delivery
      strip_path: true

  - name: arteria_archive
    host: localhost
    port: {{ archive_upload_port }}
    routes:
    - paths:
      - /arteria_archive
      strip_path: true

  - name: arteria_archive_verify
    host: localhost
    port: {{ archive_verify_port }}
    routes:
    - paths:
      - /verify
      strip_path: true

  - name: arteria_sequencing_reports
    host: localhost
    port: {{ seqreport_service_port }}
    routes:
    - paths:
      - /seqreports
      strip_path: true

  - name: arteria_checkqc
    host: localhost
    port: {{ checkqc_service_port }}
    routes:
    - paths:
      - /checkqc
      strip_path: true

  - name: snpseq_metadata
    host: localhost
    port: {{ snpseq_metadata_service_port }}
    routes:
    - paths:
      - /metadata
      strip_path: true

plugins:
  - name: key-auth
    config:
      key_names:
      - apikey
      key_in_body: false
      key_in_header: true
      key_in_query: true
      hide_credentials: true

consumers:
- username: arteria
  keyauth_credentials:
    - key: {{ tarzan_api_key }}
