
prefix = {{ tarzan_log_dest }}

anonymous_reports = off

#------------------------------------------------------------------------------
# NGINX
#------------------------------------------------------------------------------
proxy_listen = 0.0.0.0:8888
proxy_listen_ssl = 0.0.0.0:4444
admin_listen = 127.0.0.1:8001

ssl_cert = {{ tarzan_conf }}/tarzan_cert.pem
ssl_cert_key = {{ tarzan_conf }}/tarzan_key.pem

#------------------------------------------------------------------------------
# DATASTORE
#------------------------------------------------------------------------------
database = cassandra
