# Default configuration file for checksum service

---

monitored_directory: "{{ arteria_checksum_monitored_path }}"

# Determine how many past and active jobs should be kept in memory
history_len: 100

# Path to the md5sum logs
md5_log_directory: "{{ arteria_checksum_md5sum_log_dir  }}"

