---

- name: create virtual python env for sequencing report service
  shell: "conda create --name {{ arteria_service_name }} python=3.13"
  args: 
    creates: "{{ arteria_service_env_root }}"

- name: get sequencing report service from git
  git:
    repo: "{{ seqreport_service_repo }}"
    dest: "{{ arteria_service_src_path }}"
    version: "{{ seqreport_service_version }}"

- name: get checksum pipeline from git
  git:
    repo: "{{ sis_style_checksums_repo }}"
    dest: "{{ arteria_service_src_path }}/sis_style_checksums_nextflow/"
    version: "{{ sis_style_checksums_version }}"

- name: install sequencing report service
  pip:
    name: .
    chdir: "{{ arteria_service_src_path }}"
    executable: "{{ arteria_service_env_root }}/bin/pip"
    state: present

- name: create temp folder
  tempfile:
    state: directory
    suffix: nxf_seqreports
  register: tempfolder

- name: download seqreports singularity images
  shell: |
    {{ sw_path }}/nextflow/nextflow -log {{ lookup('env', 'SNIC_TMP') }} run {{ arteria_service_src_path }}/seqreports/main.nf -profile test,singularity
  args:
    chdir: "{{ tempfolder.path }}"
  environment:
    NXF_SINGULARITY_CACHEDIR: "{{ ngi_containers }}/biocontainers"
    NXF_HOME: "{{ nextflow_dest }}/workfiles"
    NXF_JAVA_HOME: "{{ nextflow_env.NXF_JAVA_HOME }}"
    NXF_TEMP: "{{ tempfolder.path }}"

