/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: BCL2FASTQ {
        ext.args = {[
            params.ext_args ? "${params.ext_args}" : "",
        ].join(" ").trim()}
        publishDir = [
            [
                path: { "${params.outdir}/Unaligned/" },
                pattern: "**_S[1-9]*_*.fastq.gz",
                mode: "link",
            ],
            [
                path: { "${params.outdir}/Unaligned/" },
                pattern: "Undetermined_S0_*.fastq.gz",
                mode: "link",
            ],
            [
                // Gather and write Reports and Stats
                path: { "${params.outdir}/Unaligned/" },
                mode: "link",
                pattern: "Stats",
                saveAs: {filename -> filename.split("/")[-1] }
            ],
            [
                // Gather and write InterOp files
                path: { "${params.outdir}/InterOp" },
                mode: "link",
                pattern: "**.bin",
            ],
        ]
    }

    withName: MD5SUM {
        publishDir = []
    }
}

