---
no_version_check: True

swedac_location: {{ site_full }}
swedac_accredited: {{ multiqc_swedac_accredited }}

#Restrict megaqc to upps for now
{% if site == "upps" %}
export_plots: true
no_ai: true
megaqc_url: {{ megaqc_url }}
megaqc_access_token: {{ megaqc_access_token }}
{% endif %}

{% for key, value in multiqc_options | dictsort %}
{{ key }}: {{ value }}
{% endfor %}

{% if site == "sthlm" %}
export_plots: false
no_ai: true
remote_port: {{ multiqc_port }}
remote_destination: {{ multiqc_destination }}
{% endif %}
