
{% if site == "upps" %}
    cleanup = false
{% else %}
    cleanup = true
{% endif %}

params {

    project = "{{ uppmax_project }}"
    multiqc_config = "{{ ngi_pipeline_conf }}/multiqc_{{ site }}_config.yml"
    sequencing_center = "SciLifeLab National Genomics Infrastructure {{ site_full | capitalize }}"
    seq_center = "SciLifeLab National Genomics Infrastructure {{ site_full | capitalize }}"

}

tower {
    workspaceId = '{{ tower_workspace_id }}'
    endpoint = 'https://ngi-tower.scilifelab.se/api'
    enabled = true
}

{% if site == "sthlm" %}
process {
    withName: 'multiqc|MultiQC|MULTIQC' {
        container = null
        executor = 'local'
    }
}
{% endif %}
