#!/bin/bash

# Minimalistic script that initiates {{ site }}-specific
# directories for ngi_pipeline logs and dbs under the project dir

# To be run as respective func account:
#
# funk_004 -> ngi2016001
# funk_006 -> ngi2016003
#

{% for folder in static_folders | sort | unique %}
mkdir -p "{{ folder }}"
{% endfor %}

{% for cmd in static_commands | sort | unique %}
{{ cmd }}
{% endfor %}
