#!/bin/bash

# Minimalistic script that initiates {{ site }}-specific
# directories for ngi_pipeline logs and dbs under the project dir

{% for readme in delivery_readmes | default([]) | sort %}
# remove existing link (including checksum)
rm -f {{ ngi_softlinks }}/{{ readme }}
rm -f {{ ngi_softlinks }}/{{ readme }}.md5
# create symlink
ln -s {{ taca_ngi_dest }}/delivery_readmes/{{ readme }} {{ ngi_softlinks }}/{{ readme }}
{% endfor %}
