log:
    file: "{{ ngi_pipeline_path }}/log/taca.log"

deliver:
    rootpath: "{{ proj_root }}/{{ uppmax_project }}"
    datapath: <ROOTPATH>/incoming
    stagingpath: <ROOTPATH>/nobackup/NGI/DELIVERY/<PROJECTID>
    stagingpathhard: <ROOTPATH>/nobackup/NGI/DELIVERY_HARD/<PROJECTID>
    operator: "{{ recipient_mail }}"
{% if "sthlm" == site %}
    save_meta_info: True
{% endif %}
