log:
    log_file: "{{ ngi_pipeline_path }}/taca.log"

cleanup:
    miarka:
        flowcell:
            root: 
                - "{{ proj_root }}/{{ uppmax_project }}/incoming"
                - "{{ proj_root }}/{{ uppmax_project }}/archive"
            relative_project_source: Demultiplexing
            undet_file_pattern: "*Undetermined_*.fastq.gz"
        data_dir: "{{ ngi_pipeline_datadir }}"
        analysis:
            root: "{{ ngi_pipeline_analysisdir }}"
            files_to_remove:
                piper_ngi:
                    - "*.bam"
