log:
    file: "{{ ngi_pipeline_path }}/log/taca.log"

deliver:
    rootpath: "{{ ngi_pipeline_workdir }}"
    analysispath: <ROOTPATH>/ANALYSIS/<PROJECTID>
    stagingpath: <ROOTPATH>/DELIVERY/<PROJECTID>
    operator: "{{ recipient_mail }}"
    hash_algorithm: md5
{% if "upps" == site %}
    files_to_deliver:
        -
            - <ANALYSISPATH>/seqreports/*
            - <STAGINGPATH>/00-Reports/SequenceQC/
            - required: True
        -
            - <ANALYSISPATH>/multiqc_ngi/*multiqc_report.html
            - <STAGINGPATH>/00-Reports/
            - required: True
        -
            - <ANALYSISPATH>/multiqc_ngi/*multiqc_report_data.zip
            - <STAGINGPATH>/00-Reports/
            - required: True
        -
            - <ANALYSISPATH>/<SAMPLEID>/SarekGermlineAnalysis/results/Annotation/<SAMPLEID>/*
            - <STAGINGPATH>/<SAMPLEID>/results/Annotation/
            - required: True
        -
            - <ANALYSISPATH>/<SAMPLEID>/SarekGermlineAnalysis/results/pipeline_info/results_description.html
            - <STAGINGPATH>/<SAMPLEID>/results/pipeline_info
            - required: True
        -
            - <ANALYSISPATH>/<SAMPLEID>/SarekGermlineAnalysis/results/pipeline_info/software_versions.csv
            - <STAGINGPATH>/<SAMPLEID>/results/pipeline_info
            - required: True
        -
            - <ANALYSISPATH>/<SAMPLEID>/SarekGermlineAnalysis/results/Preprocessing/TSV/duplicates_marked*<SAMPLEID>.tsv*
            - <STAGINGPATH>/<SAMPLEID>/results/Preprocessing/TSV
            - required: True
        -
            - <ANALYSISPATH>/<SAMPLEID>/SarekGermlineAnalysis/results/Preprocessing/<SAMPLEID>/DuplicatesMarked/*
            - <STAGINGPATH>/<SAMPLEID>/results/Preprocessing/DuplicatesMarked
            - required: True
        -
            - <ANALYSISPATH>/<SAMPLEID>/SarekGermlineAnalysis/results/Reports/*
            - <STAGINGPATH>/<SAMPLEID>/results/Reports
            - required: True
        -
            - <ANALYSISPATH>/<SAMPLEID>/SarekGermlineAnalysis/results/VariantCalling/<SAMPLEID>/*
            - <STAGINGPATH>/<SAMPLEID>/results/VariantCalling/
            - required: True
        -
            - {{ ngi_softlinks }}/ACKNOWLEDGEMENTS.txt
            - <STAGINGPATH>
        -
            - {{ ngi_resources }}/TACA/{{ site }}/DELIVERY.README.SAREK.txt
            - <STAGINGPATH>
            - required: True
        -
            - {{ ngi_resources }}/TACA/apply_recalibration.sh
            - <STAGINGPATH>/01-Resources/
            - required: True
{% endif %}
{% if "sthlm" == site %}
    datapath: <ROOTPATH>/DATA/<PROJECTID>
    stagingpathhard: <ROOTPATH>/DELIVERY_HARD/<PROJECTID>
    files_to_deliver:
        -
            - <DATAPATH>/<SAMPLEID>/*/*
            - <STAGINGPATH>/<SAMPLEID>/02-FASTQ
            - required: True
        -
            - <ANALYSISPATH>/<SAMPLEID>/SarekGermlineAnalysis/results/Annotation/<SAMPLEID>/*
            - <STAGINGPATH>/<SAMPLEID>/01-SarekGermline-Results/Annotation/
            - required: True
        -
            - <ANALYSISPATH>/<SAMPLEID>/SarekGermlineAnalysis/results/pipeline_info/results_description.html
            - <STAGINGPATH>/<SAMPLEID>/01-SarekGermline-Results/pipeline_info
            - required: True
        -
            - <ANALYSISPATH>/<SAMPLEID>/SarekGermlineAnalysis/results/pipeline_info/software_versions.csv
            - <STAGINGPATH>/<SAMPLEID>/01-SarekGermline-Results/pipeline_info
            - required: True
        -
            - <ANALYSISPATH>/<SAMPLEID>/SarekGermlineAnalysis/results/Preprocessing/TSV/duplicates_marked*<SAMPLEID>.tsv*
            - <STAGINGPATH>/<SAMPLEID>/01-SarekGermline-Results/Preprocessing/TSV
            - required: True
        -
            - <ANALYSISPATH>/<SAMPLEID>/SarekGermlineAnalysis/results/Preprocessing/<SAMPLEID>/DuplicatesMarked/*
            - <STAGINGPATH>/<SAMPLEID>/01-SarekGermline-Results/Preprocessing/DuplicatesMarked
            - required: True
        -
            - <ANALYSISPATH>/<SAMPLEID>/SarekGermlineAnalysis/results/Preprocessing/<SAMPLEID>/Recalibrated/*
            - <STAGINGPATH>/<SAMPLEID>/01-SarekGermline-Results/Preprocessing/Recalibrated
            - required: True
        -
            - <ANALYSISPATH>/<SAMPLEID>/SarekGermlineAnalysis/results/Reports/*
            - <STAGINGPATH>/<SAMPLEID>/01-SarekGermline-Results/Reports
            - required: True
        -
            - <ANALYSISPATH>/<SAMPLEID>/SarekGermlineAnalysis/results/VariantCalling/<SAMPLEID>/*
            - <STAGINGPATH>/<SAMPLEID>/01-SarekGermline-Results/VariantCalling/
            - required: True
    misc_files_to_deliver:
        -
            - {{ ngi_softlinks }}/ACKNOWLEDGEMENTS.txt
            - <STAGINGPATH>
        -
            - {{ ngi_softlinks }}/DELIVERY.README.SAREK.txt
            - <STAGINGPATH>
        -
            - <ANALYSISPATH>/reports/*
            - <STAGINGPATH>/00-Reports
        -
            - <ANALYSISPATH>/*multiqc_report.html
            - <STAGINGPATH>/00-Reports
    save_meta_info: True
{% endif %}
