log:
    file: "{{ ngi_pipeline_path }}/log/taca.log"

deliver:
    rootpath: "{{ ngi_pipeline_workdir }}"
    analysispath: <ROOTPATH>/ANALYSIS/<PROJECTID>
    stagingpath: <ROOTPATH>/DELIVERY/<PROJECTID>
    stagingpathsample: <STAGINGPATH>/<SAMPLEID>
    operator: "{{ recipient_mail }}"
    hash_algorithm: md5
    analysispathresults: <ANALYSISPATH>/SarekGermlineAnalysis/results
    stagingpathresults: <STAGINGPATHSAMPLE>/results
    files_to_deliver:
        -
            - <ANALYSISPATH>/seqreports/*
            - <STAGINGPATH>/00-Reports/SequenceQC
            -
              required: True
        -
            - {{ ngi_softlinks }}/apply_recalibration.sh
            - <STAGINGPATH>/01-Resources
            -
              required: True
              no_digest_cache: True
        -
            - {{ ngi_softlinks }}/DELIVERY.README.SAREK.WES.md
            - <STAGINGPATH>
            -
              required: True
              no_digest_cache: True
        -
            - <ANALYSISPATH>/multiqc_ngi/*multiqc_report*
            - <STAGINGPATH>/00-Reports
            -
              required: True
        -
            - <ANALYSISPATHRESULTS>/Annotation/<SAMPLEID>/*
            - <STAGINGPATHRESULTS>/Annotation/<SAMPLEID>
            -
              required: True
        -
            - <ANALYSISPATHRESULTS>/pipeline_info/results_description.html
            - <STAGINGPATHRESULTS>/pipeline_info
            -
              required: True
        -
            - <ANALYSISPATHRESULTS>/pipeline_info/software_versions.csv
            - <STAGINGPATHRESULTS>/pipeline_info
            -
              required: True
        -
            - <ANALYSISPATHRESULTS>/Preprocessing/TSV/duplicates_marked*<SAMPLEID>.tsv*
            - <STAGINGPATHRESULTS>/Preprocessing/TSV
            -
              required: True
        -
            - <ANALYSISPATHRESULTS>/Preprocessing/<SAMPLEID>/DuplicatesMarked/*
            - <STAGINGPATHRESULTS>/Preprocessing/DuplicatesMarked/<SAMPLEID>
            -
              required: True
        -
            - <ANALYSISPATHRESULTS>/Reports/<SAMPLEID>/*
            - <STAGINGPATHRESULTS>/Reports/<SAMPLEID>
            -
              required: True
        -
            - <ANALYSISPATHRESULTS>/VariantCalling/<SAMPLEID>/*
            - <STAGINGPATHRESULTS>/VariantCalling/<SAMPLEID>
            -
              required: True
