log:
    file: "{{ ngi_log_path }}/taca.log"

deliver:
    rootpath: "{{ proj_root }}/{{ uppmax_project }}"
    datapath: <ROOTPATH>/incoming
    stagingpathhard: <ROOTPATH>/nobackup/NGI/DELIVERY_HARD/<PROJECTID>
    operator: "{{ recipient_mail }}"
{% if "sthlm" == site %}
    save_meta_info: True
{% endif %}
