log:
    file: "{{ ngi_pipeline_sthlm_path }}/log/taca.log"

deliver:
    rootpath: "{{ proj_root }}/{{ ngi_pipeline_sthlm_delivery }}/nobackup/NGI"
    analysispath: <ROOTPATH>/ANALYSIS/<PROJECTID>
    datapath: <ROOTPATH>/DATA/<PROJECTID>
    stagingpath: <ROOTPATH>/DELIVERY/<PROJECTID>
    stagingpathhard: <ROOTPATH>/DELIVERY_HARD/<PROJECTID>
    deliverypath: "{{ item.proj_path }}/<UPPNEXID>/INBOX/<PROJECTNAME>-<PROJECTID>"
    reportpath: <ANALYSISPATH>/piper_ngi
    logpath: <REPORTPATH>/logs
    deliverystatuspath: <REPORTPATH>/08_misc
    operator: "{{ recipient_mail }}"
    hash_algorithm: md5
    files_to_deliver:
        -
            - <DATAPATH>/<SAMPLEID>/*/*
            - <STAGINGPATH>/<SAMPLEID>/02-FASTQ
            - required: True
    misc_files_to_deliver:
        -
            - {{ ngi_site_softlinks }}/ACKNOWLEDGEMENTS.txt
            - <STAGINGPATH>
        -
            - <ANALYSISPATH>/reports/*
            - <STAGINGPATH>/00-Reports
        -
            - <ANALYSISPATH>/*multiqc_report.html
            - <STAGINGPATH>/00-Reports
{% if site == "sthlm" %}
        -
            - {{ ngi_site_softlinks }}/DELIVERY.README.RAW_DATA.txt 
            - <STAGINGPATH>
    save_meta_info: True
{% endif %}
