log:
    file: "{{ ngi_pipeline_path }}/log/taca.log"

deliver:
    rootpath: "{{ ngi_pipeline_workdir }}"
    analysispath: <ROOTPATH>/ANALYSIS/<PROJECTID>
    stagingpath: <ROOTPATH>/DELIVERY/<PROJECTID>
    stagingpathsample: <STAGINGPATH>/<SAMPLEID>
    operator: "{{ recipient_mail }}"
    hash_algorithm: md5
{% if "_batch_" in config_dst %}
    analysispathresults: <ANALYSISPATH>/SarekGermlineAnalysis/results
{% else %}
    analysispathresults: <ANALYSISPATH>/<SAMPLEID>/SarekGermlineAnalysis/results
{% endif %}
{% if "sthlm" == site %}
    datapath: <ROOTPATH>/DATA/<PROJECTID>
    stagingpathhard: <ROOTPATH>/DELIVERY_HARD/<PROJECTID>
    stagingpathresults: <STAGINGPATHSAMPLE>/01-SarekGermline-Results
    save_meta_info: True
    misc_files_to_deliver:
        -
            - <ANALYSISPATH>/reports/*
            - <STAGINGPATH>/00-Reports
{% endif %}

{% if "upps" == site %}
    stagingpathresults: <STAGINGPATHSAMPLE>/results
    files_to_deliver:
        -
            - <ANALYSISPATH>/seqreports/*
            - <STAGINGPATH>/00-Reports/SequenceQC/
            -
              required: True
        -
            - {{ ngi_softlinks }}/apply_recalibration.sh
            - <STAGINGPATH>/01-Resources/
            -
              required: True
              no_digest_cache: True
{% endif %}
        -
            - {{ ngi_softlinks }}/ACKNOWLEDGEMENTS.txt
            - <STAGINGPATH>
        -
{% if site == "upps" %}
            - <ANALYSISPATH>/multiqc_ngi/*multiqc_report_data.zip
            - <STAGINGPATH>/00-Reports/
            -
              required: True
        -
            - <ANALYSISPATH>/multiqc_ngi/*multiqc_report.html
{% elif site == "sthlm" %}
            - <ANALYSISPATH>/*multiqc_report.html
{% endif %}
            - <STAGINGPATH>/00-Reports/
            -
              required: True
        -
{% if "_batch_" in config_dst %}
            - {{ ngi_softlinks }}/DELIVERY.README.SAREK.BATCH.txt
{% else %}
            - {{ ngi_softlinks }}/DELIVERY.README.SAREK.txt
{% endif %}
            - <STAGINGPATH>/
            -
              required: True
              no_digest_cache: True
{% if "sthlm" == site %}
    files_to_deliver:
        -
            - <DATAPATH>/<SAMPLEID>/*/*
            - <STAGINGPATHSAMPLE>/02-FASTQ
            - required: True
        -
            - <ANALYSISPATHRESULTS>/Preprocessing/<SAMPLEID>/Recalibrated/*
            - <STAGINGPATHRESULTS>/Preprocessing/Recalibrated
            - required: True
{% endif %}
        -
            - <ANALYSISPATHRESULTS>/Annotation/<SAMPLEID>/*
            - <STAGINGPATHRESULTS>/Annotation/
            -
              required: True
        -
            - <ANALYSISPATHRESULTS>/pipeline_info/results_description.html
            - <STAGINGPATHRESULTS>/pipeline_info
            -
              required: True
        -
            - <ANALYSISPATHRESULTS>/pipeline_info/software_versions.csv
            - <STAGINGPATHRESULTS>/pipeline_info
            -
              required: True
        -
            - <ANALYSISPATHRESULTS>/Preprocessing/TSV/duplicates_marked*<SAMPLEID>.tsv*
            - <STAGINGPATHRESULTS>/Preprocessing/TSV
            -
              required: True
        -
            - <ANALYSISPATHRESULTS>/Preprocessing/<SAMPLEID>/DuplicatesMarked/*
            - <STAGINGPATHRESULTS>/Preprocessing/DuplicatesMarked
            -
              required: True
        -
            - <ANALYSISPATHRESULTS>/VariantCalling/<SAMPLEID>/*
            - <STAGINGPATHRESULTS>/VariantCalling/
            -
              required: True
{% if "_batch_" in config_dst %}
        -
            - <ANALYSISPATHRESULTS>/Reports/<SAMPLEID>/*
            - <STAGINGPATHRESULTS>/Reports/<SAMPLEID>/
            -
              required: True
{% else %}
        -
            - <ANALYSISPATHRESULTS>/Reports/*
            - <STAGINGPATHRESULTS>/Reports
            -
              required: True
{% endif %}
