#!/bin/bash

# Minimalistic script that initiates project/site specific
# directories for ngi_pipeline logs and dbs under respective
# site's project dirs.

# To be run as respective func account:
#
# funk_004 -> ngi2016001
# funk_006 -> ngi2016003

if [ $# -ne 1 ]; then
        echo "$0: usage: create_ngi_pipeline_dirs.sh <project id>"
        exit 1
fi

FACILITY_PROJECT_PATH="{{ proj_root }}/$1"

# Removes old softlinks directory, thus forcing md5 recalculation
if [ -d "$FACILITY_PROJECT_PATH/nobackup/NGI/softlinks" ]; then
rm -r "$FACILITY_PROJECT_PATH/nobackup/NGI/softlinks"
fi

# create the facility-specific project dir and set appropriate permissions
if [ ! -e "$FACILITY_PROJECT_PATH" ]; then
mkdir -p "$FACILITY_PROJECT_PATH"
chgrp -R $1 "$FACILITY_PROJECT_PATH"
chmod g+rwXs,o-rwx "$FACILITY_PROJECT_PATH"
fi

mkdir -p "$FACILITY_PROJECT_PATH/incoming"
mkdir -p "$FACILITY_PROJECT_PATH/private/log"
mkdir -p "$FACILITY_PROJECT_PATH/private/db"
mkdir -p "$FACILITY_PROJECT_PATH/private/log/supervisord"
mkdir -p "$FACILITY_PROJECT_PATH/nobackup/NGI/softlinks"

#If case since folders are excessive for uppsala
if [ $1 == "ngi2016003" ]; then
mkdir -p "$FACILITY_PROJECT_PATH/genotype_data/incoming"
mkdir -p "$FACILITY_PROJECT_PATH/genotype_data/archive"
ACKNOWLEDGE_SITE="ACKNOWLEDGEMENTS_S.txt"
else
ACKNOWLEDGE_SITE="ACKNOWLEDGEMENTS_U.txt"
fi

ln -s "{{ deployment_target }}/latest/sw/ngi_pipeline/DELIVERY.README.txt" "$FACILITY_PROJECT_PATH/nobackup/NGI/softlinks/DELIVERY.README.txt"
ln -s "{{ deployment_target }}/latest/sw/ngi_pipeline/$ACKNOWLEDGE_SITE" "$FACILITY_PROJECT_PATH/nobackup/NGI/softlinks/ACKNOWLEDGEMENTS.txt"

#if sthlm, source delivery readme script
if [ $1 == "ngi2016003" ]; then
. {{ ngi_resources }}/create_delivery_readme_softlinks.sh
fi
