# This file should be sourced from the sites settings file
# (which in turn should be sourced from the user's local bash init files)

export CHARON_BASE_URL={{ charon_base_url }}

# Sadly still integral to NGI Pipeline
# Hopefully possible to remove dependency in a later version
module load bioinfo-tools piper/{{ piper_module_version }}

# Force English locale as e.g. some downstream scripts depend on the
# pipeline outputing data with "." as decimal output instead of Swedish ",".
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

# Append the Bash prompt with the version of the Miarka environment/provisioning
# that we're running.
MIARKA_ENV=`echo $BASH_SOURCE | cut -d/ -f4`
MIARKA_VER=`echo $BASH_SOURCE | cut -d/ -f5`

if [ $MIARKA_ENV == "production" ] ; then
	MIARKA_PROMPT="Prod/$MIARKA_VER"
else
	MIARKA_PROMPT="Stage/$MIARKA_VER"
fi

export PS1="$MIARKA_PROMPT [\u@\h \w]$ "

# Default SNIC_TMP as /scratch
export SNIC_TMP="/scratch"

# alias to get versions for tools installed in the current deployment
alias deployed_env="cat {{ deployed_tool_versions }}"
