# This file should be sourced from the user's local bash init files 
{% if site == "sthlm" %}
module load mover/1.0.0
{% endif %}

# Unique settings per site 
export NGI_CONFIG={{ ngi_pipeline_conf }}/{{ site_config }} 
export CHARON_API_TOKEN={{ charon_api_token }}
export DSM_CONFIG={{ tsm_config_file }}

{% if site == "upps" %}
export PATH={{ sw_path }}:$PATH
{% endif %}
# Common settings shared for both sites
source {{ ngi_pipeline_conf }}/{{ bash_env_script }}

