sessionname arteria-staging
zombie kr
verbose on
screen -t checksum 0 bash -i -c "{{ arteria_checksum_env_root }}/bin/python {{ arteria_checksum_env_root }}/bin/checksum-ws --configroot={{ arteria_checksum_config_root }} --port={{ arteria_checksum_port_stage }} --debug"
screen -t delivery 1 bash -i -c "{{ arteria_delivery_env_root }}/bin/python {{ arteria_delivery_env_root }}/bin/delivery-ws --configroot={{ arteria_delivery_config_root }} --port={{ arteria_delivery_port_stage }} --debug"
screen -t upload 2 bash -i -c "{{ archive_upload_env_root }}/bin/python {{ archive_upload_env_root }}/bin/archive-upload-ws --configroot={{ archive_upload_config_root }} --port={{ archive_upload_port_stage }} --debug"
